<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/28498FB0-9DBA-4A88-9D22-95CE28CA7590</string>
	<key>Model</key>
	<string>VMware7,1</string>
	<key>NetworkServices</key>
	<dict>
		<key>99D7712F-A20B-4F51-B696-359FD8CCEFF8</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en2</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet 2</string>
		</dict>
		<key>B2DDCC19-AAA6-4C57-801E-1F1512443164</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet</string>
		</dict>
		<key>D888F434-4134-4159-8FF2-148BA7C76859</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>serial1</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>Built-in Serial Port (1)</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Null Modem 115200.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>115200 bps</string>
				<key>DeviceVendor</key>
				<string>Null Modem</string>
				<key>DialMode</key>
				<string>IgnoreDialTone</string>
				<key>ErrorCorrection</key>
				<integer>0</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>0</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>0</integer>
				<key>HoldReminderTime</key>
				<integer>999</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>AuthPrompt</key>
				<string>Before</string>
				<key>CommDisplayTerminalWindow</key>
				<integer>1</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommTerminalScript</key>
				<string>/test.sh</string>
				<key>CommUseTerminalScript</key>
				<integer>1</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/tmp/ppp/options</string>
				<key>VerboseLogging</key>
				<integer>1</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Built-in Serial Port (1)</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>28498FB0-9DBA-4A88-9D22-95CE28CA7590</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>D888F434-4134-4159-8FF2-148BA7C76859</string>
							<string>B2DDCC19-AAA6-4C57-801E-1F1512443164</string>
							<string>99D7712F-A20B-4F51-B696-359FD8CCEFF8</string>
						</array>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>99D7712F-A20B-4F51-B696-359FD8CCEFF8</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/99D7712F-A20B-4F51-B696-359FD8CCEFF8</string>
					</dict>
					<key>B2DDCC19-AAA6-4C57-801E-1F1512443164</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B2DDCC19-AAA6-4C57-801E-1F1512443164</string>
					</dict>
					<key>D888F434-4134-4159-8FF2-148BA7C76859</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/D888F434-4134-4159-8FF2-148BA7C76859</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>Joshuas-Mac</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>Joshua’s Mac</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
